@typeparam TItem

@*
    See site.css for css

    CSS isolation triggers me cause it has to tag everything with an "id"-ish attribute "b-canv022aum".
    In this list component I don't want to incur that cost.
*@

@{
    _virtualizedResult.Clear();
    var shouldRenderEnumerable = false;
}

<div class="list-component" id="@_htmlId" tabindex="0">
    @*
        this empty div is the "cursor"
        In the JavaScript this line exists:
            'cursorElement = listChildrenContainerElement.children[0];'
        The cursor element displays the active background-color,
        and is how the keyboard events are scrolled into view.
        Blazor diffs ignore this element since it lacks any attributes/"childContent"
        Thus, JavaScript can do whatever it wants with this div.
        *@
    <div></div>

    <div class="list-component-virtualization" style="height: @(_totalCount * _itemHeight)px;"></div>

    @if (_itemsProviderDelegate is null)
    {
        <text>Items is null</text>
    }
    else if (_childContent is null)
    {
        <text>ChildContent is null</text>
    }
    else if (_onEventFunc is null)
    {
        <text>_onEventFunc is null</text>
    }
    else if (!_myJsObjectInstanceInitializedSuccessfully)
    {
        <text>!_myJsObjectInstanceInitializedSuccessfully</text>
    }
    else
    {
        shouldRenderEnumerable = true;
    }

    <div style="top: @(_listVirtualizationRequest.Skip * _itemHeight)px;" class="list-component-children">
        @* Null forgiving operator relative to 'shouldRenderEnumerable' bool *@
        @if (shouldRenderEnumerable)
        {
            var localCache_StyleCss = $"height: {_itemHeight}px; position: relative;";
            var enumerable = _itemsProviderDelegate!.Invoke(skip: _listVirtualizationRequest.Skip, take: _listVirtualizationRequest.Take);
            foreach (var item in enumerable)
            {
                // leaf?
                // data attribute leaf
                // data-button="leaf"
                // data-button="node"
                //
                // arrowright/left if(leaf) otherwise (node) ???

                _virtualizedResult.Add(item);
                <div @key="item" style="@localCache_StyleCss">
                    @_childContent!(item)

                    @if (_buttonsProviderFunc is not null)
                    {
                        @* In the JavaScript: if (dataButtonValue == "delete")... *@
                        @foreach (var buttonOptionsTuple in _buttonsProviderFunc.Invoke(item))
                        {
                            <button class="@buttonOptionsTuple.CssClass" data-button="@buttonOptionsTuple.DataButton">@buttonOptionsTuple.Text</button>
                        }
                    }
                </div>
            }
        }
    </div>
</div>


